<div class="jumbotron center">
<h1>About Us</h1>
<p>Hello! My name is Dustin Rath. Recently, I have started developing a new and innovative way to assist others in selecting favorable wines that accompany entree options. I know this can be a difficult task when there are thousands of options available. These options can vary from region to region. It is my goal to provide a place where wine connoisseurs can gather and share their ideas! Wine sommeliers rejoice! Put your heads together and create the best options for your guests!</p>

<a href="http://s707.photobucket.com/user/Riiaa007/media/7f6ebc5c-d13d-4e96-b384-31e1be62ad5a.png.html" target="_blank"><img src="http://i707.photobucket.com/albums/ww80/Riiaa007/7f6ebc5c-d13d-4e96-b384-31e1be62ad5a.png" border="0" alt=" photo 7f6ebc5c-d13d-4e96-b384-31e1be62ad5a.png"/></a>

</div>