<div class="jumbotron center">
<h1>About Us</h1>
<p>Hello! My name is Dustin Rath. Recently, I have started developing a new and inovative way to assist others in selecting favorable wines that accompany entree options. I know this can be a difficult task when there are thousands of options available.  These options can vary from region to region. It is my goal to provide a place where wine connoisseurs can gather and share their ideas! Wine sommeliers rejoice! Put your heads together and create the best options for you guests!</p>
</div>