<div class="jumbotron center">
<h1>Welcome Wine Lovers!</h1>

<% if user_signed_in? %>
	Enjoy your stay!
<% else %>	
<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>

<iframe src="https://player.vimeo.com/video/99491624?autoplay=1&title=0&byline=0&portrait=0" width="275" height="155" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>To the city that NEVER sleeps!</p>

<% end %>

<h6>Provided by Dustin D. Rath ©2015


</div>
