<div class="jumbotron center">
<h1>Sommelier Corner</h1>
<p>This area will consist of the most frequently paired options that leading sommeliers have voted on!</p>

<h4>Ask Chef Tony!</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5a_qIUzKrB8" frameborder="0" allowfullscreen></iframe>

<h4>Industry Thoughts!</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-Ym7_q1f4rI" frameborder="0" allowfullscreen></iframe>

<h4>Ary of Manliness!</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_DDL3seMRwo" frameborder="0" allowfullscreen></iframe>

</div>