<div class="jumbotron center">
<h1>Sommelier Corner</h1>
<p>This area will consist of the most frequently paired options that leading sommeliers have voted on!</p>

<a href="http://photobucket.com/images/wine%20sommelier" target="_blank"><img src="http://i248.photobucket.com/albums/gg169/ImAnastasia/Leslie%20Photo%20Albums/Scott%20Jacob%20Wine/jacobs_sommelier.jpg" border="0" alt="wine sommelier photo: Sommelier jacobs_sommelier.jpg"/></a>

</div>